.Home {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #000d53, #000000 48%, #fdfdfd);
}
.Home_Not {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #580505, #000000 48%, #fdfdfd) !important;
}
.welcome {
  text-align: center;
  padding-right: 15rem;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .welcome {
    display:none;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #000d53;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.login-unsuccessful {
  color: red !important;
}
  /* div {
    background-image: linear-gradient(79deg, #580505, #000000 48%, #fdfdfd) !important;
  } */